usando Laços for em lista, tuplas , ou string, , muito versátil

In [2]:
#for variavel iteração de um intervalor de 1 a 100.
contando =[]
for item in range(1,100,1):
  contando.append(item)
print(contando)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [4]:
#criando uma lista semanas e mandando imprimir
semana=['Domingo','Segunda','Terça','Quarta','Quinta','Sexta'] 
#for variavel interação
for item in semana:
  print(item)

Domingo
Segunda
Terça
Quarta
Quinta
Sexta

In [6]:
cadeia="PYthon é uma Linguagem versátil"
for item in cadeia:
  if (item.isupper()):
    print(item)

P
Y
L

In [12]:
tupla=(1,2,3,4,5,6,7,8)
tem=2
for index,item in enumerate(tupla):
  if (item==tem):
    print("tem o valor {} na posição {}".format(item,index))
    break
  else:
    continue  

tem=13
for index,item in enumerate(tupla):
  if (item==tem):
    print("tem o valor {} na posição {}".format(item,index))
    break
  else:
    continue  
else:
  print('Não encontrou o {}'.format(tem))

tem o valor 2 na posição 1
Não encontrou o 13

In [14]:
#mostrar os divisores de 5 e 7 de 1500 a 2701
for item in range(1500,2701):
  if (item%5==0 and item%7==0):
    print(item)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [1]:
x = 200.0
print(f'N[0] = {x:.4f}')
for i in range(1,10 ):
    x /= 2
    print(f'N[{i}] = {x:.4f}')

N[0] = 200.0000
N[1] = 100.0000
N[2] = 50.0000
N[3] = 25.0000
N[4] = 12.5000
N[5] = 6.2500
N[6] = 3.1250
N[7] = 1.5625
N[8] = 0.7812
N[9] = 0.3906

In [3]:
#combinação de senhas, combinação simples cada caractere maiuscula e minuscula (duas opeções), e ainda as que podem ser trocados por numeros 3 opeções, se for numero já só tem uma opção 
senha='teste'
x = len(senha)
total = 1 
for i in range(x):
 if (senha[i].upper() == 'A' or senha[i].upper() == 'E' or senha[i].upper() == 'I' or senha[i].upper() == 'O' and senha[i].upper() == 'S'):
   total *= 3
 elif (senha[i].isnumeric()):
   total *= 1 
 else:
   total *= 2 
print("total de combinações {}".format(total) )

total de combinações 72